In [1]:
#Import basic packages
import os
import numpy as np
import pandas as pd
import csv
import regex as re

In [2]:
org_ori_df = pd.read_csv(R"d:/msc-project/data/pre-processed/organisations_preprocessed.csv",encoding='utf-8',index_col=False)

In [3]:
org_ori_df.head(3)

,org_uuid,name,legal_name,homepage_url,country_code,state_code,region,city,address,postal_code,...,acquirer_state_code,acquirer_region,acquirer_city,acquisition_type,acquired_on,price_usd,price,price_currency_code,parent_uuid,parent_name
0,e1393508-30ea-8a36-3f96-dd3226033abd,Wetpaint,NaN,http://www.wetpaint.com/,USA,NY,New York,New York,902 Broadway 11th Floor New,10010,...,NY,New York,New York,acquisition,2013-12-16,30000000.0,30000000.0,USD,NaN,NaN
1,5f2b40b8-d1b3-d323-d81a-b7a8e89553d0,Digg,"Digg Holdings, LLC",http://www.digg.com,USA,NY,New York,New York,NaN,NaN,...,NY,New York,New York,acquisition,2012-07-12,16000000.0,16000000.0,USD,NaN,NaN
2,df662812-7f97-0b43-9d3e-12f64f504fbb,Facebook,"Facebook, Inc.",http://www.facebook.com,USA,CA,California,Menlo Park,1 Hacker Way,94025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
org_ori_df.columns

Index(['org_uuid', 'name', 'legal_name', 'homepage_url', 'country_code',
       'state_code', 'region', 'city', 'address', 'postal_code', 'status',
       'short_description', 'category_list', 'category_groups_list',
       'num_funding_rounds', 'total_funding_usd', 'total_funding',
       'total_funding_currency_code', 'founded_on', 'last_funding_on',
       'closed_on', 'employee_count', 'email', 'phone', 'facebook_url',
       'linkedin_url', 'twitter_url', 'logo_url', 'primary_role', 'num_exits',
       'description', 'ipo_uuid', 'stock_exchange_symbol', 'stock_symbol',
       'went_public_on', 'share_price_usd', 'share_price',
       'share_price_currency_code', 'valuation_price_usd', 'valuation_price',
       'valuation_price_currency_code', 'money_raised_usd', 'money_raised',
       'money_raised_currency_code', 'acquisition_uuid', 'acquirer_uuid',
       'acquirer_name', 'acquirer_country_code', 'acquirer_state_code',
       'acquirer_region', 'acquirer_city', 'acquisition_type', 'acquired_on',
       'price_usd', 'price', 'price_currency_code', 'parent_uuid',
       'parent_name'],
      dtype='object')

In [5]:
org_ori_df.isnull().sum(axis=0)

org_uuid                              0
name                                  0
legal_name                       121729
homepage_url                       6389
country_code                          0
state_code                        90056
region                                0
city                                  0
address                           50257
postal_code                       56895
status                                0
short_description                     2
category_list                         0
category_groups_list                  0
num_funding_rounds                    0
total_funding_usd                 43649
total_funding                     43649
total_funding_currency_code       43649
founded_on                            0
last_funding_on                       9
closed_on                        170785
employee_count                        0
email                             52692
phone                             63762
facebook_url                      76415
linkedin_url                      64861
twitter_url                       71719
logo_url                           4148
primary_role                          0
num_exits                        175922
description                       20271
ipo_uuid                         169467
stock_exchange_symbol            169479
stock_symbol                     169477
went_public_on                   169467
share_price_usd                  175007
share_price                      175007
share_price_currency_code        175007
valuation_price_usd              175608
valuation_price                  175608
valuation_price_currency_code    175608
money_raised_usd                 174698
money_raised                     174698
money_raised_currency_code       174698
acquisition_uuid                 158823
acquirer_uuid                    158823
acquirer_name                    158823
acquirer_country_code            158965
acquirer_state_code              165196
acquirer_region                  158965
acquirer_city                    158965
acquisition_type                 158823
acquired_on                      158823
price_usd                        172449
price                            172449
price_currency_code              172449
parent_uuid                      175066
parent_name                      175066
dtype: int64

In [6]:
len(org_ori_df)

176985

In [7]:
org_ori_df.groupby('status')['org_uuid'].nunique()

status
acquired      19757
closed        10276
ipo            6143
operating    140809
Name: org_uuid, dtype: int64

In [9]:
jobs_df = pd.read_csv(R"d:/msc-project/data/pre-processed/jobs_preprocessed.csv",encoding='utf-8')

In [10]:
jobs_df.columns

Index(['job_uuid', 'job_name', 'people_uuid', 'person_name', 'org_uuid',
       'org_name', 'started_on', 'ended_on', 'is_current', 'title', 'job_type',
       'is_founder'],
      dtype='object')

In [37]:
num_founder = pd.DataFrame(jobs_df.groupby('org_uuid')['is_founder'].sum())

In [46]:
org_processed_df = org_ori_df[['org_uuid','name']]

In [47]:
org_processed_df=pd.merge(org_processed_df,
                         num_founder,
                         on='org_uuid',
                         how='left'
                         )

In [50]:
org_processed_df

,org_uuid,name,is_founder
0,e1393508-30ea-8a36-3f96-dd3226033abd,Wetpaint,2.0
1,5f2b40b8-d1b3-d323-d81a-b7a8e89553d0,Digg,1.0
2,df662812-7f97-0b43-9d3e-12f64f504fbb,Facebook,7.0
3,60485007-8856-bbac-aa1b-c535c41f5f47,Omnidrive,2.0
4,4111dc8b-c0df-2d24-ed33-30cd137b3098,Geni,2.0
...,...,...,...
176980,ab278d7c-eb9f-4ed3-8c65-24b7685145a4,Frame,1.0
176981,e3baa88d-8592-40cc-8ff5-c40254b444e2,Get Harley,1.0
176982,03249b8e-ea2b-4839-a409-232f796f0e62,boomerank,0.0
176983,e2760a4a-4645-4e09-a201-3f92807123be,Switchback Systems,1.0
176984,a7773520-44a8-438e-906f-719293e4706d,UNITED ROBOTIC SYSTEMS,0.0

In [72]:
jobs_df[(jobs_df.org_uuid == 'c948a3a0-7314-52a0-54f9-ee316f42c819') & (jobs_df.is_founder == 1)]

,job_uuid,job_name,people_uuid,person_name,org_uuid,org_name,started_on,ended_on,is_current,title,job_type,is_founder
472911,d2c660cd-1fff-99b5-f254-2e9b72d06659,Delia Fischer Founder & Managing Director @ We...,59b7bcbd-cc61-17a7-6426-9d913b955d9f,Delia Fischer,c948a3a0-7314-52a0-54f9-ee316f42c819,Westwing,2011-04-01,NaN,True,Founder & Managing Director,executive,1
472917,9786edbd-0f30-9782-504a-6fe685c7a50d,Stefan Smalla Founder & Chief Executive Office...,a77b1822-970f-4291-2743-18055e6a5d0b,Stefan Smalla,c948a3a0-7314-52a0-54f9-ee316f42c819,Westwing,2011-01-01,NaN,True,Founder & Chief Executive Officer,executive,1
472920,24f739c1-0a26-228f-ac9c-a737ad7d2a34,Andrew Nutter Co-founder @ Westwing,8b3538da-36ce-55da-c52c-c61225d7cbb1,Andrew Nutter,c948a3a0-7314-52a0-54f9-ee316f42c819,Westwing,NaN,2015-01-01,False,Co-founder,employee,1
473157,f2e57a51-ac82-1363-c84c-0c6f5aad9692,Georg Biersack Founder & CTO @ Westwing,0b3055e2-0ca8-4cee-9930-30ed469f13da,Georg Biersack,c948a3a0-7314-52a0-54f9-ee316f42c819,Westwing,2011-06-01,2014-09-01,False,Founder & CTO,executive,1
473279,04c5d67c-d074-27ab-b920-e6f397d40064,Matthias Siepe Founder & MD @ Westwing,c7c45b9d-6ab0-4ff0-bcf0-4dfbf934de23,Matthias Siepe,c948a3a0-7314-52a0-54f9-ee316f42c819,Westwing,2011-01-01,NaN,True,Founder & MD,executive,1
473327,99e7f81a-ee1b-14bd-31e2-0028e39fd81c,Tim Schafer Founder & Customer Director @ West...,f6702df7-c597-204a-4d0d-31270eccf27f,Tim Schafer,c948a3a0-7314-52a0-54f9-ee316f42c819,Westwing,2011-06-01,NaN,True,Founder & Customer Director,executive,1
473392,1218887f-6c26-7aef-6c9c-9605f7c0f872,Antony Martins Founder & Co-CEO - Brazil @ Wes...,dddf65a5-0b37-d464-7ea4-f96bef74b451,Antony Martins,c948a3a0-7314-52a0-54f9-ee316f42c819,Westwing,2011-09-01,2017-11-01,False,Founder & Co-CEO - Brazil,executive,1
473472,e3e834e2-e7e2-4d30-bc37-bb83bfd2b221,Eduardo Oliveira Founder & Chief Operating Off...,665aa529-3520-76b4-29a1-7385b800b380,Eduardo Oliveira,c948a3a0-7314-52a0-54f9-ee316f42c819,Westwing,2014-05-01,NaN,True,Founder & Chief Operating Officer - Brazil,executive,1
473528,6c926969-cf91-a098-c08d-6994d777d1af,Julie Walbaum Co-Founder & MD - France @ Westwing,53707de9-42f5-2d2c-c8a8-338c629dd632,Julie Walbaum,c948a3a0-7314-52a0-54f9-ee316f42c819,Westwing,2012-01-01,2014-01-01,False,Co-Founder & MD - France,executive,1
473534,c1c2e505-fbe7-2e2e-0671-44ce30b9c5c4,Edouard Nattee Co-Founder & MD - France @ West...,17e6e127-b025-554e-058c-5a9636f0dacc,Edouard Nattee,c948a3a0-7314-52a0-54f9-ee316f42c819,Westwing,2012-01-01,2016-01-01,False,Co-Founder & MD - France,executive,1
473561,2d407855-60f6-78bd-a611-3d99a47b2a31,Emmanuel Leger Co-Founder & COO - France @ Wes...,747597af-32ed-441f-f8e7-0dff50ac4765,Emmanuel Leger,c948a3a0-7314-52a0-54f9-ee316f42c819,Westwing,2014-06-01,2017-09-01,False,Co-Founder & COO - France,executive,1
473609,f74c869c-0847-446c-8ac6-47f0438cd612,Diego Palano Co-Founder & CEO - Italy @ Westwing,ab84f1f9-d79e-4382-3c6b-5aa7c5ef373e,Diego Palano,c948a3a0-7314-52a0-54f9-ee316f42c819,Westwing,2011-01-01,2016-01-01,False,Co-Founder & CEO - Italy,executive,1
473854,1b4bfaa4-a004-6880-4d16-d8a294ac74db,"Mattia Riva Co-Founder, Italy @ Westwing",61b4828a-96f9-65f5-e9b0-c8d785ab3e74,Mattia Riva,c948a3a0-7314-52a0-54f9-ee316f42c819,Westwing,2011-12-01,2019-11-01,False,"Co-Founder, Italy",executive,1
473907,a0da7dec-4484-768e-ab11-47a75132647b,"Karim El Saket Co-Founder & CEO ,Italy @ Westwing",7970e0f9-9351-5a9c-8b7e-438955f1ec99,Karim El Saket,c948a3a0-7314-52a0-54f9-ee316f42c819,Westwing,2016-12-01,NaN,True,"Co-Founder & CEO ,Italy",executive,1
473965,a60ad282-3eaf-7a92-f509-7ee2a540c264,Tomek Kasperski Co-Founder & Managing Director...,7e12ab0e-761f-8535-d71e-1bfaa4d1c479,Tomek Kasperski,c948a3a0-7314-52a0-54f9-ee316f42c819,Westwing,2011-01-01,2017-08-01,False,Co-Founder & Managing Director - Poland,executive,1
473980,20396d4e-52a7-afa7-3c33-d5f2dc81d92b,PrzemysÅ‚aw Kowalewski Co-Founder & Managing Di...,d83fe32d-04db-3011-b5bb-8000cb37151a,PrzemysÅ‚aw Kowalewski,c948a3a0-7314-52a0-54f9-ee316f42c819,Westwing,2011-01-01,NaN,True,Co-Founder & Managing Director - Poland,executive,1
474032,57d0e197-d00e-d519-4533-b52afb4a2e94,Manuela Rabener Founder & MD - Russia @ Westwing,34fa087c-ec1b-e1ec-dd7b-96ab0005df14,Manuela Rabener,c948a3a0-7314-52a0-54f9-ee316f42c819,Westwing,2011-01-01,2014-09-19,False,Founder & MD - Russia,executive,1
474109,f2195aa5-0643-58d4-4642-31f827fa12df,Santiago Fisas Co-Founder & MD - Spain @ Westwing,ecf9e86f-bcc9-d36b-9df5-20537f5b63f1,Santiago Fisas,c948a3a0-7314-52a0-54f9-ee316f42c819,Westwing,2012-03-01,2014-07-01,False,Co-Founder & MD - Spain,executive,1
719841,cff029f1-e699-521c-530d-5f91768dd2a6,Rodrigo Parisi Founder @ Westwing,e86a4423-d443-5c75-7ec2-4e410e8db031,Rodrigo Parisi,c948a3a0-7314-52a0-54f9-ee316f42c819,Westwing,2011-09-01,2013-03-31,False,Founder,executive,1
1346222,acfb9bbd-2d7d-402f-a88f-70eaa20fbd0c,Gergo Kalcsics Co-Founder Spain @ Westwing,a695cac8-23eb-4cea-a618-8234a33dfa79,Gergo Kalcsics,c948a3a0-7314-52a0-54f9-ee316f42c819,Westwing,2012-01-01,2012-01-01,False,Co-Founder Spain,executive,1
1378569,93cee613-f65a-4b2f-8ffe-d86373828d46,Georg Biersack Founder & Head of Tech Operatio...,0b3055e2-0ca8-4cee-9930-30ed469f13da,Georg Biersack,c948a3a0-7314-52a0-54f9-ee316f42c819,Westwing,2014-10-01,NaN,True,Founder & Head of Tech Operations,executive,1
1378584,299eed46-09e0-49de-b852-8e2a7cfe1595,Michael Stolle Co-Founder & Managing Director ...,e6e94a5e-7deb-4f59-cdd3-2ed12dc7ad3c,Michael Stolle,c948a3a0-7314-52a0-54f9-ee316f42c819,Westwing,2014-10-01,2019-11-01,False,Co-Founder & Managing Director WestwingNow,executive,1

In [74]:
jobs_df[jobs_df.people_uuid == 'a77b1822-970f-4291-2743-18055e6a5d0b']

,job_uuid,job_name,people_uuid,person_name,org_uuid,org_name,started_on,ended_on,is_current,title,job_type,is_founder
472917,9786edbd-0f30-9782-504a-6fe685c7a50d,Stefan Smalla Founder & Chief Executive Office...,a77b1822-970f-4291-2743-18055e6a5d0b,Stefan Smalla,c948a3a0-7314-52a0-54f9-ee316f42c819,Westwing,2011-01-01,NaN,True,Founder & Chief Executive Officer,executive,1
472918,939de99e-415d-66dd-9a01-129886f70585,Stefan Smalla Senior Manager @ Bain & Company,a77b1822-970f-4291-2743-18055e6a5d0b,Stefan Smalla,c21b4680-75e8-ea37-265f-e3ad6f0f145d,Bain & Company,2004-01-01,2011-01-01,False,Senior Manager,executive,0
472919,e583b99c-08ab-83ac-98fb-b63ca6385828,"Stefan Smalla Chief Technology Officer, Vice P...",a77b1822-970f-4291-2743-18055e6a5d0b,Stefan Smalla,1b629b27-3c3a-eb8a-a7af-0b5ce7489515,dooyoo,2000-01-01,2002-01-01,False,"Chief Technology Officer, Vice President & eCo...",executive,0

In [88]:
sorted(list(org_processed_df.is_founder.unique()))

[0.0,
 1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 19.0,
 22.0,
 34.0]

In [90]:
org_processed_df['is_founder'].value_counts()

1.0     45835
0.0     38934
2.0     29692
3.0     11644
4.0      3585
5.0       928
6.0       294
7.0        86
8.0        34
9.0        17
10.0        7
12.0        3
13.0        1
22.0        1
34.0        1
11.0        1
19.0        1
Name: is_founder, dtype: int64

In [67]:
org_processed_df.isnull().sum(axis=0)

org_uuid          0
name              0
is_founder    45921
dtype: int64

In [69]:
org_processed_df.dropna(subset=['is_founder'],inplace=True)

In [70]:
len(org_processed_df)

131064

In [83]:
jobs_df.columns

Index(['job_uuid', 'job_name', 'people_uuid', 'person_name', 'org_uuid',
       'org_name', 'started_on', 'ended_on', 'is_current', 'title', 'job_type',
       'is_founder'],
      dtype='object')

In [86]:
#compute duration of work experience
jobs_df_not_current = jobs_df[jobs_df.is_current == False]
jobs_df_not_current.dropna(subset=['started_on','ended_on'],inplace=True)
jobs_df_not_current['duration'] = jobs_df_not_current['ended_on'] - jobs_df_not_current ['started_on']

C:\Users\Abdul Rahim Ab Ghani\miniconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

TypeError: unsupported operand type(s) for -: 'str' and 'str'