In [1]:
#Import basic packages
import os
import numpy as np
import pandas as pd
import csv
import regex as re
import datetime as dt

In [2]:
#import outcome file with org_uuid
main_df = pd.read_csv(R"d:/msc-project/data/final/outcome_final.csv",encoding='utf-8',
                         index_col='org_uuid',
                         parse_dates= ['founded_on','seed_date','series_a_date','series_b_date','series_c_date'])
main_processing_df = main_df[['name','outcome']]

In [4]:
main_df.head(3)

,name,status,founded_on,seed_date,series_a_date,series_b_date,series_c_date,num_funding_rounds,duration_to_acquisition_years,duration_to_ipo_years,duration_to_closed_years,duration_to_current_years,duration_to_seed_years,duration_to_series_a_years,duration_to_series_b_years,duration_to_series_c_years,outcome
org_uuid,,,,,,,,,,,,,,,,,
000014da-0c46-b9cb-0941-3a93c027b119,Resilio,operating,2016-11-01,NaT,NaT,NaT,NaT,7.0,NaN,NaN,NaN,4.2,NaN,NaN,NaN,NaN,0
00002470-bff7-6226-5800-0ca1b3787b6f,Codementor,operating,2013-01-01,2013-08-05,NaT,NaT,NaT,5.0,NaN,NaN,NaN,8.0,0.59,NaN,NaN,NaN,0
000095de-8e2b-82f1-32a7-c222ba3d5682,Ultraprise Loan Technologies,operating,2001-01-01,NaT,NaT,NaT,NaT,1.0,NaN,NaN,NaN,20.0,NaN,NaN,NaN,NaN,0

In [5]:
#import main organisation csv
org_ori_df = pd.read_csv(R"d:/msc-project/data/pre-processed/organisations_preprocessed.csv",encoding='utf-8',
                         index_col='org_uuid',
                         parse_dates= ['founded_on','went_public_on','acquired_on','closed_on'])

In [6]:
org_ori_df.head(3)

,name,legal_name,homepage_url,country_code,state_code,region,city,address,postal_code,status,...,acquirer_state_code,acquirer_region,acquirer_city,acquisition_type,acquired_on,price_usd,price,price_currency_code,parent_uuid,parent_name
org_uuid,,,,,,,,,,,,,,,,,,,,,
e1393508-30ea-8a36-3f96-dd3226033abd,Wetpaint,NaN,http://www.wetpaint.com/,USA,NY,New York,New York,902 Broadway 11th Floor New,10010,acquired,...,NY,New York,New York,acquisition,2013-12-16,30000000.0,30000000.0,USD,NaN,NaN
5f2b40b8-d1b3-d323-d81a-b7a8e89553d0,Digg,"Digg Holdings, LLC",http://www.digg.com,USA,NY,New York,New York,NaN,NaN,acquired,...,NY,New York,New York,acquisition,2012-07-12,16000000.0,16000000.0,USD,NaN,NaN
df662812-7f97-0b43-9d3e-12f64f504fbb,Facebook,"Facebook, Inc.",http://www.facebook.com,USA,CA,California,Menlo Park,1 Hacker Way,94025,ipo,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN