In [84]:
#Import basic packages
import os
import numpy as np
import pandas as pd
import csv
import regex as re
import datetime as dt

In [85]:
#import outcome file with org_uuid
main_df = pd.read_csv(R"d:/msc-project/data/final/outcome_final_v1.csv",encoding='utf-8',
                         index_col=False,
                         parse_dates= ['founded_on','seed_date','series_a_date','series_b_date','series_c_date'])
main_processing_df = main_df[['org_uuid','name','outcome','lead_investor_uuids_seed','lead_investor_uuids_series_a']]

In [105]:
len(main_df)

28658

In [86]:
#import investors data
investors_df = pd.read_csv(R"D:\msc-project\data\pre-processed\investors_preprocessed.csv",encoding='utf-8',
                         index_col=False,
                         parse_dates= ['founded_on','closed_on'])

In [87]:
investors_df.columns

Index(['investor_uuid', 'name', 'type', 'country_code', 'state_code', 'region',
       'city', 'investor_types', 'investment_count', 'total_funding_usd',
       'total_funding', 'total_funding_currency_code', 'founded_on',
       'closed_on', 'facebook_url', 'linkedin_url', 'twitter_url', 'logo_url'],
      dtype='object')

In [88]:
main_processing_df.head(3)

,org_uuid,name,outcome,lead_investor_uuids_seed,lead_investor_uuids_series_a
0,eb37f7c8-c036-a915-bb7c-63f445330f66,Ceyba,0,NaN,beadb218-e5fa-2686-bc95-4dfaa9acc2e8
1,0a88fa0e-7abe-c4ac-ab69-877b01a9cb60,IceFyre Semiconductor,0,NaN,NaN
2,de462c42-b0a5-c5af-9637-ec426b4e991f,ORMvision,0,NaN,NaN

In [89]:
investor_processing_df = main_processing_df

In [90]:
investor_processing_df['lead_investor_uuids_first_fund'] = investor_processing_df['lead_investor_uuids_seed']
investor_processing_df['lead_investor_uuids_first_fund'] = investor_processing_df['lead_investor_uuids_first_fund'].fillna(investor_processing_df['lead_investor_uuids_series_a'])

C:\Users\Abdul Rahim Ab Ghani\miniconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Abdul Rahim Ab Ghani\miniconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [91]:
investor_processing_df.head(3)

,org_uuid,name,outcome,lead_investor_uuids_seed,lead_investor_uuids_series_a,lead_investor_uuids_first_fund
0,eb37f7c8-c036-a915-bb7c-63f445330f66,Ceyba,0,NaN,beadb218-e5fa-2686-bc95-4dfaa9acc2e8,beadb218-e5fa-2686-bc95-4dfaa9acc2e8
1,0a88fa0e-7abe-c4ac-ab69-877b01a9cb60,IceFyre Semiconductor,0,NaN,NaN,NaN
2,de462c42-b0a5-c5af-9637-ec426b4e991f,ORMvision,0,NaN,NaN,NaN

In [92]:
investor_processing_df.drop(columns=['lead_investor_uuids_seed','lead_investor_uuids_series_a'],inplace=True)

C:\Users\Abdul Rahim Ab Ghani\miniconda3\lib\site-packages\pandas\core\frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [93]:
investor_processing_df.head(3)

,org_uuid,name,outcome,lead_investor_uuids_first_fund
0,eb37f7c8-c036-a915-bb7c-63f445330f66,Ceyba,0,beadb218-e5fa-2686-bc95-4dfaa9acc2e8
1,0a88fa0e-7abe-c4ac-ab69-877b01a9cb60,IceFyre Semiconductor,0,NaN
2,de462c42-b0a5-c5af-9637-ec426b4e991f,ORMvision,0,NaN

In [94]:
len(investor_processing_df)

28658

In [95]:
investor_processing_df.dropna(subset=['lead_investor_uuids_first_fund'],inplace=True)

C:\Users\Abdul Rahim Ab Ghani\miniconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [96]:
len(investor_processing_df)

8320

In [97]:
investor_processing_df_v1 = pd.merge(investor_processing_df,
                                     investors_df[['investor_uuid','name']],
                                     left_on='lead_investor_uuids_first_fund',
                                     right_on='investor_uuid',
                                     how='left')

In [98]:
len(investor_processing_df_v1)

8320

In [99]:
investor_processing_df_v1.head(3)

,org_uuid,name_x,outcome,lead_investor_uuids_first_fund,investor_uuid,name_y
0,eb37f7c8-c036-a915-bb7c-63f445330f66,Ceyba,0,beadb218-e5fa-2686-bc95-4dfaa9acc2e8,beadb218-e5fa-2686-bc95-4dfaa9acc2e8,Bessemer Venture Partners
1,3d607a21-39bb-651e-c53f-9890ee334f18,Ygnition Networks,0,fcab9355-11b8-fba0-fed7-b4c8a474da43,fcab9355-11b8-fba0-fed7-b4c8a474da43,ComVentures
2,f29f5734-7560-f912-2b6f-c9805ac9d50d,Dynogen Pharmaceuticals,0,"4884e025-054d-47d6-3c7e-6c397eee22cd,b2349e73-...",NaN,NaN

In [101]:
investor_processing_df_v2 = investor_processing_df_v1[['org_uuid','name_y']]
investor_processing_df_v2.head(3)

                               org_uuid                     name_y
0  eb37f7c8-c036-a915-bb7c-63f445330f66  Bessemer Venture Partners
1  3d607a21-39bb-651e-c53f-9890ee334f18                ComVentures
2  f29f5734-7560-f912-2b6f-c9805ac9d50d                        NaN

In [102]:
investor_processing_df_v2.rename(columns={'name_y':'first_fund_investor'},inplace=True)
investor_processing_df_v2.head(3)

C:\Users\Abdul Rahim Ab Ghani\miniconda3\lib\site-packages\pandas\core\frame.py:4449: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                               org_uuid        first_fund_investor
0  eb37f7c8-c036-a915-bb7c-63f445330f66  Bessemer Venture Partners
1  3d607a21-39bb-651e-c53f-9890ee334f18                ComVentures
2  f29f5734-7560-f912-2b6f-c9805ac9d50d                        NaN

In [103]:
main_processing_df_v1 = pd.merge(main_df['org_uuid'],
                                 investor_processing_df_v2,
                                 on='org_uuid',
                                 how='left')

In [104]:
len(main_processing_df_v1)

28658

In [106]:
main_processing_df_v1.head(3)

                               org_uuid        first_fund_investor
0  eb37f7c8-c036-a915-bb7c-63f445330f66  Bessemer Venture Partners
1  0a88fa0e-7abe-c4ac-ab69-877b01a9cb60                        NaN
2  de462c42-b0a5-c5af-9637-ec426b4e991f                        NaN

In [123]:
main_processing_df_v1[main_processing_df_v1['first_fund_investor'] == 'DST Global ']

Empty DataFrame
Columns: [org_uuid, first_fund_investor]
Index: []

In [110]:
#get number of events for top 10 percentile
top10percentile = int(0.01*len(main_processing_df_v1['first_fund_investor'].value_counts()))
top10percentile_investors = main_processing_df_v1['first_fund_investor'].value_counts().nlargest(top10percentile)

In [111]:
top10percentile_investors

SOSV                           78
Accel                          59
Sequoia Capital                51
New Enterprise Associates      45
Khosla Ventures                41
Andreessen Horowitz            40
IDG Capital                    39
Benchmark                      35
Index Ventures                 33
General Catalyst               32
Kleiner Perkins                31
True Ventures                  29
Battery Ventures               28
Spark Capital                  28
Threshold                      26
Bessemer Venture Partners      26
Foundry Group                  24
Lightspeed Venture Partners    24
Redpoint                       23
Matrix Partners                22
Almi Invest                    22
Intel Capital                  22
Social Capital                 22
Austin Ventures                21
Seedrs                         21
First Round Capital            21
ACE Startups                   20
Union Square Ventures          20
Menlo Ventures                 20
SeedRocket                     19
Name: first_fund_investor, dtype: int64

In [112]:
type(top10percentile_investors)

pandas.core.series.Series

In [113]:
pd.DataFrame(top10percentile_investors)

                             first_fund_investor
SOSV                                          78
Accel                                         59
Sequoia Capital                               51
New Enterprise Associates                     45
Khosla Ventures                               41
Andreessen Horowitz                           40
IDG Capital                                   39
Benchmark                                     35
Index Ventures                                33
General Catalyst                              32
Kleiner Perkins                               31
True Ventures                                 29
Battery Ventures                              28
Spark Capital                                 28
Threshold                                     26
Bessemer Venture Partners                     26
Foundry Group                                 24
Lightspeed Venture Partners                   24
Redpoint                                      23
Matrix Partners                               22
Almi Invest                                   22
Intel Capital                                 22
Social Capital                                22
Austin Ventures                               21
Seedrs                                        21
First Round Capital                           21
ACE Startups                                  20
Union Square Ventures                         20
Menlo Ventures                                20
SeedRocket                                    19