In [1]:
import pandas as pd

In [4]:
data = pd.read_csv("corepo_lookup_dump.csv", quotechar='~', index_col=False)
data

,Unnamed: 0,article_id,organization,retrieved_result
0,0,0,FamPay,"<div class=""flex-1 mycontainer"">\n<div class=""..."
1,0,1,Ontario Teachers Pension Plan,"<div class=""flex-1 mycontainer"">\n<div class=""..."
2,0,1,ApplyBoard,"<div class=""flex-1 mycontainer"">\n<div class=""..."
3,0,1,Education Testing Services,"<div class=""flex-1 mycontainer"">\n<div class=""..."
4,0,1,ETS,"<div class=""flex-1 mycontainer"">\n<div class=""..."
...,...,...,...,...
1162,0,498,MSD Capital,"<div class=""flex-1 mycontainer"">\n<div class=""..."
1163,0,498,NASCAR,"<div class=""flex-1 mycontainer"">\n<div class=""..."
1164,0,499,CTO,"<div class=""flex-1 mycontainer"">\n<div class=""..."
1165,0,499,VF Venture,"<div class=""flex-1 mycontainer"">\n<div class=""..."
1166,0,499,Copenhagen,"<div class=""flex-1 mycontainer"">\n<div class=""..."

In [8]:
# number of searches with no responses
len(data[data['retrieved_result'] =='Empty'])

14

In [12]:
data2 = data[data['retrieved_result'] =='Empty'].drop(['Unnamed: 0', 'retrieved_result'], axis=1)

In [13]:
data2.to_csv('organizations_no_info.csv', encoding='utf-8-sig')