In [3]:
import os

In [4]:
for i,j,k in os.walk("data/"):
    print(i,j,k)

data/ [] ['acquisitions.csv', 'category_groups.csv', 'checksum.csv', 'degrees.csv', 'doc_frequencies.tsv', 'events.csv', 'event_appearances.csv', 'frequencies.tsv', 'funding_rounds.csv', 'funds.csv', 'GoogleNews-vectors-negative300.bin', 'investments.csv', 'investment_partners.csv', 'investors.csv', 'ipos.csv', 'jobs.csv', 'organizations.csv', 'organization_descriptions.csv', 'org_parents.csv', 'people.csv', 'people_descriptions.csv']

In [5]:
import pandas as pd

In [6]:
category_groups = pd.read_csv("data/category_groups.csv")

In [7]:
people_descriptions = pd.read_csv("data/people_descriptions.csv")

In [8]:
people = pd.read_csv("data/people.csv")

In [9]:
organization_descriptions = pd.read_csv("data/organization_descriptions.csv")

In [10]:
org_parents = pd.read_csv("data/org_parents.csv")

In [11]:
organizations = pd.read_csv("data/organizations.csv")

In [12]:
degrees = pd.read_csv("data/degrees.csv")

## deal with people data

In [13]:
people_descriptions = people_descriptions[["uuid","name","description"]]

In [14]:
people = people[["uuid","name","gender","featured_job_organization_uuid","featured_job_organization_name","featured_job_title"]]

In [15]:
people_all = pd.merge(people, people_descriptions, how='left', on=['uuid', 'name'])

In [16]:
people_all.columns = ['p_uuid', 'p_name', 'gender', 'uuid',
       'name', 'featured_job_title', 'p_description']

In [17]:
people_all

,p_uuid,p_name,gender,uuid,name,featured_job_title,p_description
0,ed13cd36-fe2b-3707-197b-0c2d56e37a71,Ben Elowitz,male,cf253887-5eac-21a2-28d3-47db7311f7e9,Madrona Venture Group,Managing Director,Ben Elowitz is co-founder and CEO of [Wetpaint...
1,5ceca97b-493c-1446-6249-5aaa33464763,Kevin Flaherty,male,789e5e4d-0c90-d06e-92a0-b800b461c3da,DRSmedia,Team Member,"Brand development, creative agency management,..."
2,9f99a98a-aa97-b30b-0d36-db67c1d277e0,Raju Vegesna,male,bf4d7b0e-b34d-2fd8-d292-6049c4f7efc7,Zoho,Chief Evangelist,Raju is an evangelist for Zoho and is one of t...
3,6e1bca72-a865-b518-b305-31214ce2d1b0,Ian Wenig,male,bf4d7b0e-b34d-2fd8-d292-6049c4f7efc7,Zoho,VP Business Development,Ian Wenig has more then twenty years experienc...
4,3b598c59-7b6c-2d48-763c-da55bca77035,Owen Byrne,male,NaN,NaN,NaN,Legend has it that Owen Byrne was hired by [Di...
...,...,...,...,...,...,...,...
1099616,3cd24783-8319-4b1c-9faa-bf5f221061da,Jens Kempf,male,NaN,NaN,NaN,Wir legen viel Wert auf eine individuelle und ...
1099617,b1b9554d-9961-449b-b94c-ff0f94545b1b,Anthony Ivanovsky,male,NaN,NaN,NaN,"Customer success, IT management, and marketing..."
1099618,052edfa2-2be6-4c5d-9cc0-a3c9010c76eb,J. Gerard Aguilar,male,NaN,NaN,NaN,A recognized expert in the areas of VoIP and d...
1099619,9e0b20e8-55ab-4c72-9f3f-2dc78b71edaf,Sadiyah Khan,female,NaN,NaN,NaN,NaN
1099620,6d00ddc9-f96e-4a0e-af24-bc65797e2d61,Sayid Khan,male,NaN,NaN,NaN,NaN

## deal with organization data

In [18]:
organizations = organizations[["uuid","name","rank","roles","status","short_description","category_list","category_groups_list","num_funding_rounds","employee_count"]]

In [19]:
organization_descriptions = organization_descriptions[["uuid","name","description"]]

In [20]:
organizatio_all = pd.merge(organizations, organization_descriptions, how='left', on=['uuid', 'name'])

In [22]:
organizatio_all.head()

,uuid,name,rank,roles,status,short_description,category_list,category_groups_list,num_funding_rounds,employee_count,description
0,e1393508-30ea-8a36-3f96-dd3226033abd,Wetpaint,131437.0,company,acquired,Wetpaint offers an online social publishing pl...,"Publishing,Social Media,Social Media Management","Content and Publishing,Internet Services,Media...",3.0,51-100,Wetpaint is a technology platform company that...
1,bf4d7b0e-b34d-2fd8-d292-6049c4f7efc7,Zoho,7682.0,"investor,company",operating,"Zoho offers a suite of business, collaboration...","Cloud Computing,Collaboration,CRM,Developer To...","Administrative Services,Information Technology...",NaN,1001-5000,"Zoho offers a suite of business, collaboration..."
2,5f2b40b8-d1b3-d323-d81a-b7a8e89553d0,Digg,13152.0,company,acquired,Digg Inc. operates a website that enables its ...,"Internet,Social Media,Social Network","Internet Services,Media and Entertainment",6.0,51-100,Digg Inc. operates a website that enables its ...
3,f4d5ab44-058b-298b-ea81-380e6e9a8eec,Omidyar Network,1757.0,investor,operating,Omidyar Network is an investment firm.,"Enterprise Software,Financial Services,Venture...","Financial Services,Lending and Investments,Sof...",NaN,101-250,"Pierre Omidyar, the founder of eBay, and his w..."
4,df662812-7f97-0b43-9d3e-12f64f504fbb,Facebook,5.0,"investor,company",ipo,Facebook is an online social networking servic...,"Mobile Apps,Social,Social Media,Social Network...","Apps,Community and Lifestyle,Content and Publi...",17.0,10000+,Facebook is an online social networking servic...

## deal with degree data

In [23]:
degrees = degrees[["uuid","name","person_uuid","person_name","institution_uuid","institution_name","degree_type","subject"]]

In [24]:
degrees.columns = ["d_uuid","d_name","p_uuid","p_name","ins_uuid","ins_name","degree_type","subject"]

In [25]:
people_all_plus_degree = pd.merge(people_all, degrees, how='left', on=['p_uuid', 'p_name'])

In [27]:
people_all_plus_degree.head(5)

,p_uuid,p_name,gender,uuid,name,featured_job_title,p_description,d_uuid,d_name,ins_uuid,ins_name,degree_type,subject
0,ed13cd36-fe2b-3707-197b-0c2d56e37a71,Ben Elowitz,male,cf253887-5eac-21a2-28d3-47db7311f7e9,Madrona Venture Group,Managing Director,Ben Elowitz is co-founder and CEO of [Wetpaint...,2b2b344b-e74a-5c9a-b308-341f79c6fe9f,BS Electrical Engineering/Computer Science @ ...,10f9a25b-9675-2281-486e-a52955c706df,"University of California, Berkeley",BS,Electrical Engineering/Computer Science
1,ed13cd36-fe2b-3707-197b-0c2d56e37a71,Ben Elowitz,male,cf253887-5eac-21a2-28d3-47db7311f7e9,Madrona Venture Group,Managing Director,Ben Elowitz is co-founder and CEO of [Wetpaint...,be3b1fce-5a88-0cc7-ffe3-0908d273e69a,BS Applied Mathematics @ University of Califo...,10f9a25b-9675-2281-486e-a52955c706df,"University of California, Berkeley",BS,Applied Mathematics
2,5ceca97b-493c-1446-6249-5aaa33464763,Kevin Flaherty,male,789e5e4d-0c90-d06e-92a0-b800b461c3da,DRSmedia,Team Member,"Brand development, creative agency management,...",97e39d22-d4ab-7283-5e85-d1d51116d396,BBA unknown @ Washington University in St. Louis,6ae9957a-8fb4-0ab1-73fa-dd547c4d3da4,Washington University in St. Louis,BBA,unknown
3,5ceca97b-493c-1446-6249-5aaa33464763,Kevin Flaherty,male,789e5e4d-0c90-d06e-92a0-b800b461c3da,DRSmedia,Team Member,"Brand development, creative agency management,...",7aaaa052-0b81-81aa-3ff8-17f59fcb707e,MBA unknown @ Indiana University,3b4faff0-708e-8c1c-83f0-6fea01016519,Indiana University,MBA,unknown
4,9f99a98a-aa97-b30b-0d36-db67c1d277e0,Raju Vegesna,male,bf4d7b0e-b34d-2fd8-d292-6049c4f7efc7,Zoho,Chief Evangelist,Raju is an evangelist for Zoho and is one of t...,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
final_data = pd.merge(organizatio_all, people_all_plus_degree, how='left', on=['uuid', 'name'])

In [29]:
final_data.columns

Index(['uuid', 'name', 'rank', 'roles', 'status', 'short_description',
       'category_list', 'category_groups_list', 'num_funding_rounds',
       'employee_count', 'description', 'p_uuid', 'p_name', 'gender',
       'featured_job_title', 'p_description', 'd_uuid', 'd_name', 'ins_uuid',
       'ins_name', 'degree_type', 'subject'],
      dtype='object')

In [30]:
final_data.head()

,uuid,name,rank,roles,status,short_description,category_list,category_groups_list,num_funding_rounds,employee_count,...,p_name,gender,featured_job_title,p_description,d_uuid,d_name,ins_uuid,ins_name,degree_type,subject
0,e1393508-30ea-8a36-3f96-dd3226033abd,Wetpaint,131437.0,company,acquired,Wetpaint offers an online social publishing pl...,"Publishing,Social Media,Social Media Management","Content and Publishing,Internet Services,Media...",3.0,51-100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,bf4d7b0e-b34d-2fd8-d292-6049c4f7efc7,Zoho,7682.0,"investor,company",operating,"Zoho offers a suite of business, collaboration...","Cloud Computing,Collaboration,CRM,Developer To...","Administrative Services,Information Technology...",NaN,1001-5000,...,Raju Vegesna,male,Chief Evangelist,Raju is an evangelist for Zoho and is one of t...,NaN,NaN,NaN,NaN,NaN,NaN
2,bf4d7b0e-b34d-2fd8-d292-6049c4f7efc7,Zoho,7682.0,"investor,company",operating,"Zoho offers a suite of business, collaboration...","Cloud Computing,Collaboration,CRM,Developer To...","Administrative Services,Information Technology...",NaN,1001-5000,...,Ian Wenig,male,VP Business Development,Ian Wenig has more then twenty years experienc...,0b576627-52f1-8c3c-4de6-448f0f241a9f,"BS Biology, Psychology @ McGill University",d3f1f735-51c9-3306-04c0-0aa115b5ce43,McGill University,BS,"Biology, Psychology"
3,bf4d7b0e-b34d-2fd8-d292-6049c4f7efc7,Zoho,7682.0,"investor,company",operating,"Zoho offers a suite of business, collaboration...","Cloud Computing,Collaboration,CRM,Developer To...","Administrative Services,Information Technology...",NaN,1001-5000,...,Sridhar Vembu,male,CEO and Founder,Sridhar Vembu is the CEO of [Zoho Corp.](/orga...,5c85116e-638a-79a5-e432-f78f888bb88c,BS unknown @ Indian Institute of Technology M...,fd78c49b-8447-5fa8-da80-bbfbc19591a0,Indian Institute of Technology Madras,BS,unknown
4,bf4d7b0e-b34d-2fd8-d292-6049c4f7efc7,Zoho,7682.0,"investor,company",operating,"Zoho offers a suite of business, collaboration...","Cloud Computing,Collaboration,CRM,Developer To...","Administrative Services,Information Technology...",NaN,1001-5000,...,Sridhar Vembu,male,CEO and Founder,Sridhar Vembu is the CEO of [Zoho Corp.](/orga...,233e6576-74bf-0f9e-9cfa-507df4b163bd,Ph.D Electrical Engineering @ Princeton Unive...,f44448e4-ff35-c96a-b7c0-3bd2ebcb4f72,Princeton University,Ph.D,Electrical Engineering
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1718514,09c8e895-e62e-46f0-93f9-45e088ede007,AngelNV,NaN,investor,operating,Early stage investor school and investment fun...,NaN,NaN,NaN,unknown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1718515,9b7c50d5-8d96-4af4-9b0e-af72705184e9,Science Delivered,NaN,company,operating,Science Delivered promote quality science educ...,Education,Education,NaN,1-10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1718516,98589112-e90c-434b-a4e7-ffaa12eee602,OmniPanel,NaN,company,operating,OmniPanel is an analytics platform that surfac...,NaN,NaN,1.0,unknown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1718517,90418618-ce0c-49b2-8c0b-1f741a3d313e,Schafer Logistics Inc,NaN,company,operating,Schafer Logistics Inc provides integrate exper...,Transportation,Transportation,NaN,51-100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1718518,8418f326-1ac2-4cb0-8ddf-2bee51e23546,True Footage,NaN,company,operating,A real estate data authentication platform tha...,NaN,NaN,1.0,unknown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
final_data_drop_dumplicate = final_data.drop_duplicates(["uuid","name"])

In [34]:
final_data_drop_dumplicate[final_data_drop_dumplicate["name"] == "Airbnb"]

,uuid,name,rank,roles,status,short_description,category_list,category_groups_list,num_funding_rounds,employee_count,...,p_name,gender,featured_job_title,p_description,d_uuid,d_name,ins_uuid,ins_name,degree_type,subject
49750,bcb617c3-9e43-d5b0-1d14-82b795f2642f,Airbnb,184.0,"investor,company",ipo,Airbnb is an online community marketplace for ...,"Hospitality,Marketplace,Travel,Travel Accommod...","Commerce and Shopping,Travel and Tourism",19.0,10000+,...,Aristotle Balogh,male,CTO,Aristotle â€œAriâ€ Balogh is currently the VP...,8ec5a140-5d99-aa50-51ba-0ff9e9845e83,MSE Electrical and Computer Engineering @ The...,882b5335-962f-ea61-69f3-90f81f534e51,The Johns Hopkins University,MSE,Electrical and Computer Engineering

In [77]:
final_data_drop_dumplicate.to_pickle('foo.pkl')

In [35]:
final_data_drop_dumplicate[final_data_drop_dumplicate["name"] == "Booking.com"]

,uuid,name,rank,roles,status,short_description,category_list,category_groups_list,num_funding_rounds,employee_count,...,p_name,gender,featured_job_title,p_description,d_uuid,d_name,ins_uuid,ins_name,degree_type,subject
212554,0adf30e1-1947-4a16-4903-3a3568e02b12,Booking.com,23251.0,"investor,company",acquired,"Founded in 1996, Booking.com is one of the wor...","E-Commerce,Hotel,Information Technology,Leisur...","Commerce and Shopping,Community and Lifestyle,...",NaN,10000+,...,Salvatore Iozzia,male,Product Owner Ecommerce,NaN,NaN,NaN,NaN,NaN,NaN,NaN