In [1]:
#Import basic packages
import os
import numpy as np
import pandas as pd
import csv
import regex as re
import datetime as dt

In [2]:
#import outcome file with org_uuid
main_df = pd.read_csv(R"D:\msc-project\from-github\dissertations-2021-info\rahim_ghani_predict\data\final\outcome_final_v1.csv",encoding='utf-8',
                         index_col=False,
                         parse_dates= ['founded_on','seed_date','series_a_date','series_b_date','series_c_date'])
main_processing_df = main_df[['org_uuid','name','outcome','lead_investor_uuids_seed','lead_investor_uuids_series_a']]

In [3]:
len(main_df)

28727

In [4]:
#import investors data
investors_df = pd.read_csv(R"D:\msc-project\data\crunchbase_pre-processed\investors_preprocessed.csv",encoding='utf-8',
                         index_col=False,
                         parse_dates= ['founded_on','closed_on'])

In [5]:
investors_df.columns

Index(['investor_uuid', 'name', 'type', 'rank', 'country_code', 'state_code',
       'region', 'city', 'investor_types', 'investment_count',
       'total_funding_usd', 'total_funding', 'total_funding_currency_code',
       'founded_on', 'closed_on', 'facebook_url', 'linkedin_url',
       'twitter_url', 'logo_url'],
      dtype='object')

In [6]:
investors_df.head(3)

,investor_uuid,name,type,rank,country_code,state_code,region,city,investor_types,investment_count,total_funding_usd,total_funding,total_funding_currency_code,founded_on,closed_on,facebook_url,linkedin_url,twitter_url,logo_url
0,bf4d7b0e-b34d-2fd8-d292-6049c4f7efc7,Zoho,organization,7694.0,USA,CA,California,Pleasanton,NaN,6.0,NaN,NaN,NaN,1996-09-15,NaT,http://www.facebook.com/zoho,http://www.linkedin.com/company/zoho-corporati...,http://twitter.com/zoho,https://res.cloudinary.com/crunchbase-producti...
1,f4d5ab44-058b-298b-ea81-380e6e9a8eec,Omidyar Network,organization,1758.0,USA,CA,California,Redwood City,family_investment_office,313.0,NaN,NaN,NaN,2004-01-01,NaT,http://www.facebook.com/OmidyarNetwork,http://www.linkedin.com/company/22806,http://twitter.com/OmidyarNetwork,https://res.cloudinary.com/crunchbase-producti...
2,df662812-7f97-0b43-9d3e-12f64f504fbb,Facebook,organization,5.0,USA,CA,California,Menlo Park,NaN,32.0,1.612282e+10,1.612282e+10,USD,2004-02-04,NaT,https://www.facebook.com/facebook/,http://www.linkedin.com/company/facebook,https://twitter.com/facebook,https://res.cloudinary.com/crunchbase-producti...

In [7]:
main_processing_df.head(3)

,org_uuid,name,outcome,lead_investor_uuids_seed,lead_investor_uuids_series_a
0,9dc17185-743d-5fbc-f03b-ad0c81c8795d,Airgo Networks,1,NaN,NaN
1,9c8adac6-5c8e-9344-b763-6beab966c63c,Nauticus Networks,1,NaN,NaN
2,6749cc07-efed-ff09-4efe-43faf6f580de,BioProcessors,1,NaN,b2349e73-9f9b-a507-557c-634e0c528505

In [8]:
investor_processing_df = main_processing_df

In [9]:
investor_processing_df['lead_investor_uuids_first_fund'] = investor_processing_df['lead_investor_uuids_seed']
investor_processing_df['lead_investor_uuids_first_fund'] = investor_processing_df['lead_investor_uuids_first_fund'].fillna(investor_processing_df['lead_investor_uuids_series_a'])

C:\Users\Abdul Rahim Ab Ghani\miniconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Abdul Rahim Ab Ghani\miniconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [10]:
investor_processing_df.head(3)

,org_uuid,name,outcome,lead_investor_uuids_seed,lead_investor_uuids_series_a,lead_investor_uuids_first_fund
0,9dc17185-743d-5fbc-f03b-ad0c81c8795d,Airgo Networks,1,NaN,NaN,NaN
1,9c8adac6-5c8e-9344-b763-6beab966c63c,Nauticus Networks,1,NaN,NaN,NaN
2,6749cc07-efed-ff09-4efe-43faf6f580de,BioProcessors,1,NaN,b2349e73-9f9b-a507-557c-634e0c528505,b2349e73-9f9b-a507-557c-634e0c528505

In [11]:
investor_processing_df.drop(columns=['lead_investor_uuids_seed','lead_investor_uuids_series_a'],inplace=True)

C:\Users\Abdul Rahim Ab Ghani\miniconda3\lib\site-packages\pandas\core\frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [12]:
investor_processing_df.head(3)

,org_uuid,name,outcome,lead_investor_uuids_first_fund
0,9dc17185-743d-5fbc-f03b-ad0c81c8795d,Airgo Networks,1,NaN
1,9c8adac6-5c8e-9344-b763-6beab966c63c,Nauticus Networks,1,NaN
2,6749cc07-efed-ff09-4efe-43faf6f580de,BioProcessors,1,b2349e73-9f9b-a507-557c-634e0c528505

In [13]:
len(investor_processing_df)

28727

In [14]:
investor_processing_df.dropna(subset=['lead_investor_uuids_first_fund'],inplace=True)

C:\Users\Abdul Rahim Ab Ghani\miniconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [15]:
len(investor_processing_df)

8333

In [16]:
investor_processing_df_v1 = pd.merge(investor_processing_df,
                                     investors_df[['investor_uuid','name','rank']],
                                     left_on='lead_investor_uuids_first_fund',
                                     right_on='investor_uuid',
                                     how='left')

In [17]:
len(investor_processing_df_v1)

8333

In [18]:
investor_processing_df_v1.head(3)

,org_uuid,name_x,outcome,lead_investor_uuids_first_fund,investor_uuid,name_y,rank
0,6749cc07-efed-ff09-4efe-43faf6f580de,BioProcessors,1,b2349e73-9f9b-a507-557c-634e0c528505,b2349e73-9f9b-a507-557c-634e0c528505,Oxford Bioscience Partners,98641.0
1,45165225-a03d-42be-6af1-376341b7b815,Caymas Systems,1,d29973c3-95ec-691d-defd-6a6ba713c72a,d29973c3-95ec-691d-defd-6a6ba713c72a,Redpoint,4205.0
2,ade298e4-0c78-7ce8-4693-b03f82336417,PacketHop,1,a2b35e8b-e3e9-883b-8a07-38e6ef57d726,a2b35e8b-e3e9-883b-8a07-38e6ef57d726,U.S. Venture Partners (USVP),3685.0

In [19]:
investor_processing_df_v2 = investor_processing_df_v1[['org_uuid','name_y','rank']]
investor_processing_df_v2.head(3)

                               org_uuid                        name_y     rank
0  6749cc07-efed-ff09-4efe-43faf6f580de    Oxford Bioscience Partners  98641.0
1  45165225-a03d-42be-6af1-376341b7b815                      Redpoint   4205.0
2  ade298e4-0c78-7ce8-4693-b03f82336417  U.S. Venture Partners (USVP)   3685.0

In [20]:
investor_processing_df_v2.rename(columns={'name_y':'first_fund_investor'},inplace=True)
investor_processing_df_v2.head(3)

C:\Users\Abdul Rahim Ab Ghani\miniconda3\lib\site-packages\pandas\core\frame.py:4449: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                               org_uuid           first_fund_investor     rank
0  6749cc07-efed-ff09-4efe-43faf6f580de    Oxford Bioscience Partners  98641.0
1  45165225-a03d-42be-6af1-376341b7b815                      Redpoint   4205.0
2  ade298e4-0c78-7ce8-4693-b03f82336417  U.S. Venture Partners (USVP)   3685.0

In [21]:
main_processing_df_v1 = pd.merge(main_df['org_uuid'],
                                 investor_processing_df_v2,
                                 on='org_uuid',
                                 how='left')

In [22]:
len(main_processing_df_v1)

28727

In [23]:
main_processing_df_v1.head(3)

                               org_uuid         first_fund_investor     rank
0  9dc17185-743d-5fbc-f03b-ad0c81c8795d                         NaN      NaN
1  9c8adac6-5c8e-9344-b763-6beab966c63c                         NaN      NaN
2  6749cc07-efed-ff09-4efe-43faf6f580de  Oxford Bioscience Partners  98641.0

In [24]:
main_processing_df_v1.isnull().sum(axis=0)

org_uuid                   0
first_fund_investor    21576
rank                   21576
dtype: int64

In [25]:
#load preprocessed crunchbase data
funding_rounds_df = pd.read_csv(R"d:/msc-project/data/crunchbase_pre-processed/funding_rounds_preprocessed.csv",encoding='utf-8', 
            index_col='funding_round_uuid',
           parse_dates=['announced_on'])

In [26]:
funding_rounds_df[funding_rounds_df['org_uuid'] == 'de462c42-b0a5-c5af-9637-ec426b4e991f']

,name,country_code,state_code,region,city,investment_type,announced_on,raised_amount_usd,raised_amount,raised_amount_currency_code,post_money_valuation_usd,post_money_valuation,post_money_valuation_currency_code,investor_count,org_uuid,org_name,lead_investor_uuids
funding_round_uuid,,,,,,,,,,,,,,,,,
49c9f66c-d6a6-58ed-8678-b01c2998e844,Series A - ORMvision,BEL,NaN,Oost-Vlaanderen,Lochristi,series_a,2001-05-01,445949.0,500000.0,EUR,NaN,NaN,NaN,1.0,de462c42-b0a5-c5af-9637-ec426b4e991f,ORMvision,NaN
fcb2422e-7230-442f-8367-e477036fe979,Series B - ORMvision,BEL,NaN,Oost-Vlaanderen,Lochristi,series_b,2001-11-06,1794321.0,2000000.0,EUR,NaN,NaN,NaN,2.0,de462c42-b0a5-c5af-9637-ec426b4e991f,ORMvision,0268c659-816e-00aa-2bc8-8f7b9fa5f86c

In [27]:
main_processing_df_v1['rank'].value_counts()

430.0       73
2383.0      56
180.0       51
9086.0      48
9381.0      42
            ..
133985.0     1
460259.0     1
136241.0     1
202586.0     1
347450.0     1
Name: rank, Length: 3105, dtype: int64

In [28]:
main_processing_df_v1.sort_values(by=['rank'])

                                   org_uuid first_fund_investor  rank
6860   cf1c8b7b-8a38-4a4c-d2a4-dbe1fe94b15c              Xiaomi   4.0
25646  e612fae5-2160-61a9-08a8-fbd3f763dc34              Xiaomi   4.0
621    f4f569af-694f-ff98-7fd2-0230dee95268              Xiaomi   4.0
7210   6874d23a-6617-48df-a7ee-2574e48f6897              Xiaomi   4.0
22190  476aef3d-9cf8-03ba-b521-c4f266daa800            OurCrowd  11.0
...                                     ...                 ...   ...
28707  8ff7d78e-9cf5-4ca8-785f-3dd643351649                 NaN   NaN
28708  16ce67ef-877d-42a7-ab98-5f7e918a99a7                 NaN   NaN
28713  91866517-503a-04d3-abe7-6309434131b7                 NaN   NaN
28714  554b403c-5534-58e7-11d1-cd8a1ca29040                 NaN   NaN
28724  37cd3d96-80aa-4a2a-a72b-c2f22ff974e7                 NaN   NaN

[28727 rows x 3 columns]

In [29]:
#assign 1 for top 1000 rank and 0 for above 1000 and no info.
rank_cat = list()

for rank in list (main_processing_df_v1['rank']):
    if rank <= 1000:
        rank_cat.append('cbtop1000')
    elif rank > 1000:
        rank_cat.append('not_cbtop1000')
    else:
        rank_cat.append('no_rank')

main_processing_df_v1['rank_cat'] = rank_cat

In [30]:
main_processing_df_v1.head(10)

,org_uuid,first_fund_investor,rank,rank_cat
0,9dc17185-743d-5fbc-f03b-ad0c81c8795d,NaN,NaN,no_rank
1,9c8adac6-5c8e-9344-b763-6beab966c63c,NaN,NaN,no_rank
2,6749cc07-efed-ff09-4efe-43faf6f580de,Oxford Bioscience Partners,98641.0,not_cbtop1000
3,bbc29f4a-a798-4f74-f0a0-b1d8267692ac,NaN,NaN,no_rank
4,9bbaf540-5994-029a-3346-501ad2d1fb89,NaN,NaN,no_rank
5,45165225-a03d-42be-6af1-376341b7b815,Redpoint,4205.0,not_cbtop1000
6,ade298e4-0c78-7ce8-4693-b03f82336417,U.S. Venture Partners (USVP),3685.0,not_cbtop1000
7,5e96c2a8-d04e-0f06-84da-f4bd4943f74d,NaN,NaN,no_rank
8,db46f01e-b991-9b33-6de6-5a349b5bfdaa,NaN,NaN,no_rank
9,540f9a7a-18d7-659a-a6d3-9abe42123df3,NaN,NaN,no_rank

In [31]:
column_names = list()

for column in pd.get_dummies(main_processing_df_v1['rank_cat']).columns:
    column_names.append('is_'+ column)

one_hot_encode_investor_rank = pd.get_dummies(main_processing_df_v1['rank_cat'], columns=column_names)

column_name_dict = dict (zip(one_hot_encode_investor_rank.columns,column_names))
one_hot_encode_investor_rank.rename (columns=column_name_dict,inplace=True)

In [32]:
one_hot_encode_investor_rank.head(3)

   is_cbtop1000  is_no_rank  is_not_cbtop1000
0             0           1                 0
1             0           1                 0
2             0           0                 1

In [33]:
main_processing_df_v2 = pd.concat([main_processing_df_v1,one_hot_encode_investor_rank],
                                 axis = 1)

In [34]:
main_processing_df_v2.head(3)

,org_uuid,first_fund_investor,rank,rank_cat,is_cbtop1000,is_no_rank,is_not_cbtop1000
0,9dc17185-743d-5fbc-f03b-ad0c81c8795d,NaN,NaN,no_rank,0,1,0
1,9c8adac6-5c8e-9344-b763-6beab966c63c,NaN,NaN,no_rank,0,1,0
2,6749cc07-efed-ff09-4efe-43faf6f580de,Oxford Bioscience Partners,98641.0,not_cbtop1000,0,0,1

In [35]:
main_processing_df_v3 = main_processing_df_v2.drop(['first_fund_investor','rank','rank_cat'],axis=1)

In [36]:
main_processing_df_v3.head(3)

,org_uuid,is_cbtop1000,is_no_rank,is_not_cbtop1000
0,9dc17185-743d-5fbc-f03b-ad0c81c8795d,0,1,0
1,9c8adac6-5c8e-9344-b763-6beab966c63c,0,1,0
2,6749cc07-efed-ff09-4efe-43faf6f580de,0,0,1

# Rename column and save file

In [37]:
len(main_processing_df_v3)

28727

In [38]:
main_processing_df_v3.set_index('org_uuid',inplace=True)

new_column_name = list()
for column in list(main_processing_df_v3.columns):
    new_column_name.append('investor_' + column)
new_column_dict = dict(zip(main_processing_df_v3.columns,new_column_name))
main_processing_df_v3.rename(columns = new_column_dict,inplace=True)
main_processing_df_v3.head(3)

,investor_is_cbtop1000,investor_is_no_rank,investor_is_not_cbtop1000
org_uuid,,,
9dc17185-743d-5fbc-f03b-ad0c81c8795d,0,1,0
9c8adac6-5c8e-9344-b763-6beab966c63c,0,1,0
6749cc07-efed-ff09-4efe-43faf6f580de,0,0,1

In [39]:
main_processing_df_v3.to_csv(r'D:\msc-project\from-github\dissertations-2021-info\rahim_ghani_predict\data\final\features_investors.csv',encoding='utf=8')