In [1]:
#Import basic packages
import os
import numpy as np
import pandas as pd
import csv
import regex as re
import datetime as dt

In [2]:
#import outcome file with org_uuid
main_df = pd.read_csv(R"d:\msc-project\from-github\dissertations-2021-info\rahim_ghani_predict\data\outcome_final_v1.csv",encoding='utf-8',
                         index_col=False,
                         parse_dates= ['founded_on','seed_date','series_a_date','series_b_date','series_c_date'])
main_processing_df = main_df[['org_uuid']]

In [3]:
main_processing_df.head(3)

                               org_uuid
0  9dc17185-743d-5fbc-f03b-ad0c81c8795d
1  9c8adac6-5c8e-9344-b763-6beab966c63c
2  6749cc07-efed-ff09-4efe-43faf6f580de

In [4]:
len(main_processing_df)

28727

In [5]:
#import preprocessed jobs file
jobs_df = pd.read_csv(R"d:/msc-project/data/crunchbase_pre-processed/jobs_preprocessed.csv",encoding='utf-8',
                         index_col=False,
                         parse_dates= ['started_on','ended_on'])
jobs_df.head(3)

,job_uuid,job_name,people_uuid,person_name,org_uuid,org_name,started_on,ended_on,is_current,title,job_type,is_founder
0,697b6934-fc1f-9d63-cfb2-1a10759b378e,Ben Elowitz Co-Founder/CEO/Board of Directors ...,ed13cd36-fe2b-3707-197b-0c2d56e37a71,Ben Elowitz,e1393508-30ea-8a36-3f96-dd3226033abd,Wetpaint,NaN,NaN,False,Co-Founder/CEO/Board of Directors,executive,1
1,b1de3765-442e-b556-9304-551c2a055901,Kevin Flaherty VP Marketing @ Wetpaint,5ceca97b-493c-1446-6249-5aaa33464763,Kevin Flaherty,e1393508-30ea-8a36-3f96-dd3226033abd,Wetpaint,NaN,NaN,False,VP Marketing,executive,0
2,1319cd30-f5e8-c700-0af6-64029c6f7124,Raju Vegesna Chief Evangelist @ Zoho,9f99a98a-aa97-b30b-0d36-db67c1d277e0,Raju Vegesna,bf4d7b0e-b34d-2fd8-d292-6049c4f7efc7,Zoho,2000-11-01,NaN,True,Chief Evangelist,employee,0

# Assign Number of founder for each organisation

In [6]:
num_founder = pd.DataFrame(jobs_df.groupby('org_uuid')['is_founder'].sum())
main_processing_df_v1 = pd.merge(main_processing_df,
                         num_founder,
                         on='org_uuid',
                         how='left'
                         )
main_processing_df_v1.rename(columns = {'is_founder':'num_founder'},inplace=True)
main_processing_df_v1.head(3)

                               org_uuid  num_founder
0  9dc17185-743d-5fbc-f03b-ad0c81c8795d          1.0
1  9c8adac6-5c8e-9344-b763-6beab966c63c          NaN
2  6749cc07-efed-ff09-4efe-43faf6f580de          1.0

In [7]:
#assign 0 for companies with no information of founder
main_processing_df_v2 = main_processing_df_v1.fillna(0)

In [8]:
len(main_processing_df_v2)

28727

In [9]:
main_processing_df_v2.head(5)

                               org_uuid  num_founder
0  9dc17185-743d-5fbc-f03b-ad0c81c8795d          1.0
1  9c8adac6-5c8e-9344-b763-6beab966c63c          0.0
2  6749cc07-efed-ff09-4efe-43faf6f580de          1.0
3  bbc29f4a-a798-4f74-f0a0-b1d8267692ac          0.0
4  9bbaf540-5994-029a-3346-501ad2d1fb89          2.0

# Assign Gender Diversity Features

In [10]:
founder_df = jobs_df[jobs_df['is_founder'] == 1]
founder_gb = founder_df.groupby('org_uuid')

In [11]:
#import people preprocessed file
people_df = pd.read_csv(R"d:/msc-project/data/crunchbase_pre-processed/people_preprocessed.csv",encoding='utf-8',
                         index_col=False)

In [12]:
people_df.columns

Index(['people_uuid', 'people_name', 'first_name', 'last_name', 'gender',
       'country_code', 'state_code', 'region', 'city', 'org_uuid',
       'featured_job_organization_name', 'featured_job_title', 'facebook_url',
       'linkedin_url', 'twitter_url', 'logo_url', 'description'],
      dtype='object')

In [13]:
founder_gender_df = pd.merge(founder_df[['people_uuid','org_uuid']],
                             people_df[['people_uuid','gender']],
                             on='people_uuid',
                             how='left')

In [14]:
founder_gender_df.head(3)

,people_uuid,org_uuid,gender
0,ed13cd36-fe2b-3707-197b-0c2d56e37a71,e1393508-30ea-8a36-3f96-dd3226033abd,male
1,a01b8d46-d311-3333-7c34-aa3ae9c03f22,df662812-7f97-0b43-9d3e-12f64f504fbb,male
2,084aaa07-0795-1fe8-9c46-98bbeb02cd64,df662812-7f97-0b43-9d3e-12f64f504fbb,male

In [15]:
len(founder_df)

332569

In [16]:
len(founder_gender_df)

332569

In [17]:
founder_gender_gb = founder_gender_df.groupby('org_uuid')

In [ ]:
is_founder_gender_diversity = list()

for org_uuid in list(main_processing_df_v2['org_uuid']):
    founders_gender = list(founder_gender_df[founder_gender_df['org_uuid'] == org_uuid]['gender']) #create list of founder's gender for one organisation
    if 'male' in founders_gender and 'female' in founders_gender: #assign 1 if male and female in gender list
        is_founder_gender_diversity.append(1)
    else:
        is_founder_gender_diversity.append(0)

main_processing_df_v2['is_founder_gender_diversity'] = is_founder_gender_diversity

In [ ]:
len(is_founder_gender_diversity)

In [ ]:
is_founder_gender_diversity.count(1)

In [ ]:
len(main_processing_df_v2)

In [ ]:
main_processing_df_v2.head(3)

# Assigning number of founder with degree level, ivy league, and top100 to organisation.

In [ ]:
#import pre processed degree file
deg_df = pd.read_csv(R"d:/msc-project/data/crunchbase_pre-processed/degrees_preprocessed.csv",encoding='utf-8',
                         index_col=False)
deg_df.head(3)

In [ ]:
#merge founder df with main processing to compress size of founder df to only companies in sample
founder_df_v1 = pd.merge(main_processing_df_v2['org_uuid'],
                         founder_df,
                         on='org_uuid',
                         how='left')
len(founder_df_v1)

In [ ]:
#merge degree with founder_df
deg_type_df = deg_df[['people_uuid','is_bachelor','is_master','is_phd','is_mba','is_stem','is_ivy_league','is_top_100']]
founder_degree_df = pd.merge(founder_df_v1[['org_uuid','people_uuid']],
                             deg_type_df,
                             on='people_uuid',
                             how='left')
founder_degree_df.fillna(value=0,inplace=True)
len(founder_degree_df)

In [ ]:
founder_degree_df.head(3)

In [ ]:
#sum the number of founder with degree classification using groupby method
founder_degree_df_v1 = founder_degree_df[['org_uuid','is_bachelor','is_master','is_phd','is_mba','is_stem',
                                          'is_ivy_league','is_top_100']].groupby('org_uuid').sum()
len(founder_degree_df_v1)

In [ ]:
founder_degree_df_v1.head(3)

In [ ]:
#rename folder to reflect features
new_column_names = list ()

for column_name in founder_degree_df_v1.columns: 
    new_column_names.append('num' + column_name[2:])
    
new_column_dict = dict(zip(founder_degree_df_v1.columns,new_column_names))
founder_degree_df_v2 = founder_degree_df_v1.rename(columns=new_column_dict)

In [ ]:
founder_degree_df_v2.describe()

In [ ]:
founder_degree_df_v2.reset_index(inplace=True)

In [ ]:
founder_degree_df_v2.head(3)

In [ ]:
main_processing_df_v3 = pd.merge(main_processing_df_v2,
                                 founder_degree_df_v2,
                                 on='org_uuid',
                                 how = 'left')

In [ ]:
main_processing_df_v3.head(3)

In [ ]:
#assign 0 to founder with no degree information
main_processing_df_v3.isnull().sum(axis=0)
main_processing_df_v3.fillna(0,inplace=True)

In [ ]:
main_processing_df_v3.head(10)

# Assign number of advisor

In [ ]:
jobs_df['job_type'].value_counts()

In [ ]:
jobs_advisor_df = jobs_df[jobs_df['job_type'] == 'advisor']

In [ ]:
jobs_advisor_df.head(3)

In [ ]:
advisor_gb = jobs_advisor_df.groupby('org_uuid')

In [ ]:
num_advisor = advisor_gb.size()
num_advisor = pd.DataFrame(num_advisor,
                          columns=['num_advisor'])

In [ ]:
main_processing_df_v4 = pd.merge(main_processing_df_v3,
                                 num_advisor,
                                 on='org_uuid',
                                 how='left')

In [ ]:
main_processing_df_v4.head(3)

In [ ]:
main_processing_df_v4['num_advisor'].fillna(0,inplace=True)

In [ ]:
main_processing_df_v4.head(3)

# Work Experience

In [ ]:
main_processing_df_v4.head(3)

In [ ]:
jobs_df.head(3)

In [ ]:
jobs_df_v1= jobs_df [['job_uuid','people_uuid','org_uuid','started_on','ended_on','is_current']]

In [ ]:
jobs_df_v1.head(3)

In [ ]:
len(jobs_df_v1)

In [ ]:
#drop jobs without start date. Start date is crucial to determine if jobs is before founder found company. 
jobs_df_v2 = jobs_df_v1#.dropna(subset=['started_on'])
jobs_df_v2.isnull().sum(axis=0)

In [ ]:
len(jobs_df_v2)

In [ ]:
jobs_df_v3 = jobs_df_v2[jobs_df_v2['started_on'] > '1980-01-01']

In [ ]:
jobs_df_v3['started_on'] = pd.to_datetime(jobs_df_v3['started_on'])
jobs_df_v3['ended_on'] = pd.to_datetime(jobs_df_v3['ended_on'])

In [ ]:
len(jobs_df_v3)

In [ ]:
org_ori_df = pd.read_csv(R"d:\\msc-project\data\bulk_export_122020\organizations.csv",encoding='utf-8',
                         parse_dates= ['founded_on'])

In [ ]:
org_ori_df.columns

In [ ]:
jobs_df_v4 = pd.merge(jobs_df_v3,
                      org_ori_df[['uuid','category_groups_list']],
                      left_on='org_uuid',
                      right_on='uuid',
                      how='left')
len(jobs_df_v4)

In [ ]:
founder_df_v1.head(3)

In [ ]:
len(founder_df_v1)

In [ ]:
founder_df_v1 = founder_df_v1 [['org_uuid','job_uuid','people_uuid']]

In [ ]:
founder_df_v2 = pd.merge(founder_df_v1,
                         org_ori_df[['uuid','founded_on','category_groups_list']],
                         left_on='org_uuid',
                         right_on='uuid',how='left')

In [ ]:
founder_df_v2['founded_on'] = pd.to_datetime(founder_df_v2['founded_on'])

In [ ]:
founder_df_v2.head(3)

In [ ]:
#reduce the size of jobs_df by filtering to only relevant companies
jobs_df_v5 = pd.merge(founder_df_v2['people_uuid'],
                     jobs_df_v4,
                     on='people_uuid',
                     how='left')
len(jobs_df_v5)

In [ ]:
jobs_df_v5.head(3)

In [ ]:
#create a list of companies that being acquired and ipo
mask1 = org_ori_df['status'] == 'acquired'
mask2 = org_ori_df['status'] == 'ipo'
set_successful_companies = set (org_ori_df[mask1 | mask2]['uuid'])
len(set_successful_companies)

In [ ]:
%%time

#create list to capture founder experience in years, number for companies, previously successful, and workin in exactly same sector
founder_experience_num_years = list ()
founder_experience_num_companies = list()
founder_experience_num_successful = list ()
founder_experience_num_same_category = list ()

#get features from founders' experience
end = len(founder_df_v2)

for i in range (0,end):
    founder = founder_df_v2.iloc[i]
    founded_date = founder['founded_on']
    people_uuid = founder['people_uuid']
    org_uuid = founder['org_uuid']
    
    #create pd of jobs for one founder and filter
    founder_experience_df = jobs_df_v5[jobs_df_v5['people_uuid'] == people_uuid] 
    founder_experience_df_v1 = founder_experience_df[founder_experience_df['org_uuid'] != org_uuid] #drop the company founded
    founder_experience_df_v2 = founder_experience_df_v1[founder_experience_df_v1['started_on'] < founded_date] #filter to experience only before found compan
    
    #no experience found after filtering. append 0 for all features
    if len(founder_experience_df_v2) == 0: 
        founder_experience_num_years.append(0)
        founder_experience_num_companies.append(0)
        founder_experience_num_successful.append(0)
        founder_experience_num_same_category.append(0)
        
    else:
            
        #compute years of experience
        num_years = round ((founded_date - founder_experience_df_v2['started_on'].min()).days/365,1) 
        founder_experience_num_years.append(num_years) #append years of experience to main list

        #count the number of companies
        num_companies = len(list(founder_experience_df_v2['org_uuid'].unique())) #count the number of companies by looking at unique org_uuid
        founder_experience_num_companies.append(num_companies) #append to main list
            
        #count the number of company/ies previously ipoed or acquired
        set_companies_work_uuid = set(founder_experience_df_v2['org_uuid'].unique())
        num_successful_companies = len (set_companies_work_uuid.intersection(set_successful_companies))
        founder_experience_num_successful.append(num_successful_companies)
                
        #count number of sector that overlapped with company found
        founder_experience_df_v3 = founder_experience_df_v2[founder_experience_df_v2['category_groups_list'].notna()] #filter out company with no category groups list
        set_category_founded = set(founder['category_groups_list'].split(','))
        set_category_experience = set()
        for group_list in list(founder_experience_df_v3['category_groups_list']):
            group_list = group_list.split(',')
            for group in group_list:
                set_category_experience.add(group)
        
        #assign the score based on number of categories overlapped between company founded and experience
        founder_experience_num_same_category.append(len(set_category_experience.intersection(set_category_founded)))

In [ ]:
len(founder_df_v2)

In [ ]:
founder_experience_num_years.count(0)

In [ ]:
founder_experience_num_companies.count(0)

In [ ]:
founder_experience_num_successful.count(0)

In [ ]:
founder_experience_num_same_category.count(0)

In [ ]:
#assign founder experience to founder
founder_df_v2['founder_experience_num_years'] = founder_experience_num_years
founder_df_v2['founder_experience_num_companies'] = founder_experience_num_companies
founder_df_v2['founder_experience_num_successful'] = founder_experience_num_successful
founder_df_v2['founder_experience_num_same_category'] = founder_experience_num_same_category

In [ ]:
founder_df_v2.head(3)

In [ ]:
founder_df_v3 = founder_df_v2[['org_uuid','founder_experience_num_years','founder_experience_num_companies',
                              'founder_experience_num_successful','founder_experience_num_same_category']].groupby('org_uuid').sum()

In [ ]:
founder_df_v3.head(3)

In [ ]:
founder_df_v3.reset_index(inplace=True)

In [ ]:
main_processing_df_v5 = pd.merge(main_processing_df_v4,
                                founder_df_v3,
                                on='org_uuid',
                                how='left')
main_processing_df_v5.head(3)

In [ ]:
len(main_processing_df_v5)

# Save final file

In [ ]:
len(main_processing_df_v5)

In [ ]:
main_processing_df_v5.head(3)

# Rename Column and Save File

In [ ]:
main_processing_df_v5.set_index('org_uuid',inplace=True)

In [ ]:
new_column_name = list()
for column in list(main_processing_df_v5.columns):
    new_column_name.append('people_' + column)
new_column_dict = dict(zip(main_processing_df_v5.columns,new_column_name))
main_processing_df_v5.rename(columns = new_column_dict,inplace=True)
main_processing_df_v5.head(3)

In [ ]:
list(main_processing_df_v5.columns)

In [ ]:
len(list(main_processing_df_v5))

In [ ]:
main_processing_df_v5.to_csv(r'd:\msc-project\from-github\dissertations-2021-info\rahim_ghani_predict\data\final\features_people.csv',encoding='utf=8')